/* Reset styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.section {
  background: $white;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 1;
  @include transition();

  &.active {
    z-index: 2;
    opacity: 1;
  }

  .container {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.hidden {
  display: none !important;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
