/* Sidebar */
.sidebar {
  width: 270px;
  background: $white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid $section-white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: $z-index-sidebar;
  @include transition();

  .logo {
    margin: 0 auto;
    padding: 20px 0px;

    a {
      font-size: 40px;
      color: $bg-black-50;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;

      span {
        font-family: "Clicker Script", cursive;
        font-size: 40px;
        color: $skin-color;
      }

      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-bottom: 5px solid $skin-color;
        border-left: 5px solid $skin-color;
        bottom: 0;
        left: 0;
        margin: -15px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-top: 5px solid $skin-color;
        border-right: 5px solid $skin-color;
        top: 0;
        right: 0;
        margin: -15px;
      }
    }
  }

  .nav {
    margin-top: 2px;

    li {
      margin-bottom: 20px;
      display: block;

      a {
        font-size: 20px;
        font-weight: 600;
        color: $text-black-700;
        display: block;
        border-bottom: 1px solid $bg-black-50;
        padding: 5px 15px;
        @include transition();

        &.active {
          color: $skin-color;
        }

        i {
          margin-right: 15px;
        }

        &:hover {
          color: $skin-color;
        }
      }
    }
  }
}

/* Nav Toggler */
.nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid $bg-black-50;
  cursor: pointer;
  position: fixed;
  left: 30px;
  top: 20px;
  border-radius: 5px;
  background: $bg-black-100;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: $z-index-sidebar + 100;
  @include transition();

  span {
    height: 2px;
    width: 18px;
    background: $skin-color;
    display: inline-block;
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 18px;
      background: $skin-color;
      position: absolute;
      left: 0;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }

  &.open span {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
      top: 0;
    }

    &::after {
      transform: rotate(-45deg);
      top: 0;
    }
  }
}

@media (max-width: 1199px) {
  .nav-toggler {
    display: flex;
  }
}
