/* Color Skins */
.color-1 {
  --skin-color: #ec1839;
  background-color: var(--skin-color);
}

.color-2 {
  --skin-color: #fa5b0f;
  background-color: var(--skin-color);
}

.color-3 {
  --skin-color: #37b182;
  background-color: var(--skin-color);
}

.color-4 {
  --skin-color: #1854b4;
  background-color: var(--skin-color);
}

.color-5 {
  --skin-color: #f021b2;
  background-color: var(--skin-color);
}
